     {% extends 'mercadona/base.html' %}
     {% load static %}
     {% block content %}

      <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Faites votre shopping à moindre coût !</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Votre site de promotions par excellence !</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                {% if product %}
                    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        {% for produit in product %}
                            <div class="col mb-5">
                                <div class="card h-100">
                                    <!-- Product image-->
                                    <img class="card-img-top" src="{{ produit.image.url }}" />
                                    <!-- Product details-->
                                    <div class="card-body p-4">
                                        <div class="text-center">
                                            <!-- Product name-->
                                            <h5 class="fw-bolder">{{ produit.label }}</h5>
                                            <!-- Product description -->
                                            <div>{{ produit.description }}</div>
                                            <!-- Product price-->
                                            {% if promo %}
                                                {% for promotion in promo %}
                                                    <div class="text-decoration-line-through">{{ produit.prix }}</div>
                                                    <div class="fw-bold text-danger">{{ promotion.promotion }}</div>
                                                    <div>{{ promotion.durer }}</div>
                                                {% endfor %}
                                            {% else %}
                                                <div>{{ produit.prix }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                        <!-- Product actions-->
                                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                            <a href="{% url 'promotion' produit.id %}" class="btn btn-outline-secondary">Promotion</a>
                                            <a href="{% url 'delete' produit.id %}" class="btn btn-outline-danger">Supprimer</a>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <h2 class="text-center">Aucun produit :(</h2>
                {% endif%}
            </div>
        </section>

     {% endblock content%}